# project
_site
.sass-cache
.vagrant

# general
.DS_Store
Thumbs.db
ehthumbs.db

# post
_posts/2015-01-04-first-post.md
_posts/2015-01-15-pirates.md
_posts/2015-01-19-soccer.md
_posts/2015-01-27-dear-diary.md
_posts/2015-02-13-hamlet-monologue.md
_posts/2015-02-26-flake-it-till-you-make-it.md
_posts/2020-02-20-the-sixth-day.md
_posts/2020-02-21-the-seventh-day.md
_posts/2020-02-22-the-eighth-day.md

# home md file
aboutme.md
paper.md
happiness.md