---
layout: page
title: Bridging Theory & Practice 
subtitle: A Collection of Fundamental Research and Real-world Projects
use-site-title: true
---

<!-- <!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script async src="https://cse.google.com/cse.js?cx=002241641766983936922:2qdqnzejz_g"></script>
<div class="gcse-search"></div> -->
<div class="projects-list">
  {% for project in paginator.projects %}
  <article class="project-preview">
    <a href="{{ project.url | relative_url }}">
	  <h2 class="project-title">{{ project.title }}</h2>

	  {% if project.subtitle %}
	  <h3 class="project-subtitle">
	    {{ project.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="project-meta">
      Posted on {{ project.date | date: site.date_format }}
    </p>

    <div class="project-entry-container">
      {% if project.image %}
      <div class="project-image">
        <a href="{{ project.url | relative_url }}">
          <img src="{{ project.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="project-entry">
        {{ project.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = project.excerpt | number_of_words %}
        {% if project.content != project.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ project.url | relative_url }}" class="project-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if project.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in project.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ project.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Projects</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Projects &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
